<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Teams</title>
</head>
<body>
<h1>List of Teams</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team : ${teams}">
        <td th:text="${team.id}"></td>
        <td th:text="${team.name}"></td>
        <td>
            <a th:href="@{'/teams/' + ${team.id}}">View</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
