<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Management</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/home}">EMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/managers}">Managers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/departments}">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projects}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/teams}">Teams</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            </li>
        </ul>
    </div>
</nav>

<!-- Main Content -->
<div class="container my-2">
    <h1>Managers List</h1>

    <div class="row">
        <!-- Add Manager Button -->
        <div class="col-md-6">
            <a th:href="@{/showNewManagerForm}" class="btn btn-primary btn-sm mb-3">Add Manager</a>
        </div>
        <!-- Search Form -->
        <div class="col-md-6">
            <form action="#" th:action="@{/managers/search}" method="get" class="form-inline mb-3">
                <input type="text" name="query" class="form-control mr-sm-2" placeholder="Search by name...">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <!-- Managers Table -->
    <table class="table table-striped">
        <!-- Table headers -->
        <thead class="thead-dark">
        <tr>
            <th>Manager First Name</th>
            <th>Manager Last Name</th>
            <th>Manager Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through managers and display them -->
        <tr th:each="manager : ${listManagers}">
            <td th:text="${manager.firstName}"></td>
            <td th:text="${manager.lastName}"></td>
            <td th:text="${manager.email}"></td>
            <td>
                <a th:href="@{/showFormForUpdateManager/{id}(id=${manager.id})}" class="btn btn-primary btn-sm">Update</a>
                <a th:href="@{/deleteManager/{id}(id=${manager.id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div th:if="${totalPages > 1}" class="row col-sm-10">
        <!-- Total rows -->
        <div class="col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>
        <!-- Page numbers -->
        <div class="col-sm-1">
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{'/managers/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                </span>
        </div>
        <!-- Next page -->
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/managers/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>
        <!-- Last page -->
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/managers/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk5pLM2oSR+7a1fKNLV6z0x4Ul9Dz+2n8F7nwh2" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
